.headername{
    padding-top: 0;
    padding: 20px;
    background-color: whitesmoke;
    width: 100%;
    line-height: 80px;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px lightgray;
    z-index: 999;
}


.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.navigation{
    position: relative;
    bottom: 40px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content:space-between ;
    margin-bottom: 0;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    right: 100px;
    bottom: 40px;

}

.nav_buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuicon{
    margin-left: 10px;
}

.travelLogo{
    animation: pulse 1s infinite;
    width: 80%;
}


@keyframes pulse {
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  }

  .menua{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1rem;
  }

  .menua:hover{
color: inherit;
  }


  .aeroplane{
    position: absolute;
    background-image: url('https://www.dl.dropboxusercontent.com/s/5beukq1zg37jlr7/airbus.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 70px;
    -webkit-animation: movingplane 10s linear infinite;
  -moz-animation: movingplane 10s linear infinite;
    -o-animation: movingplane 10s linear infinite;
}



@keyframes movingplane {
  0% { 
        margin-left: 100%;
        top:300px;
    }
    29% { 
        margin-left: 50%; 
        top: 50px; 
        -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    31% {
        -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
    60% {
        margin-left: 0%; 
        top:300px;   
    }
    100% {
        margin-left: -100%;
        top: 300px;
    }
}
@-webkit-keyframes movingplane {
  0% { 
        margin-left: 100%;
        top:300px;
    }
    29% { 
        margin-left: 50%; 
        top: 50px; 
        -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    31% {
        -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
    60% {
        margin-left: 0%; 
        top:300px;    
    }
    100% {
        margin-left: -100%;
        top: 300px;
    }
}
@-moz-keyframes movingplane {
  0% { 
        margin-left: 100%;
        top:300px;
    }
    29% { 
        margin-left: 50%; 
        top: 50px; 
        -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    31% {
        -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
    60% {
        margin-left: 0%; 
        top:300px;   
    }
    100% {
        margin-left: -100%;
        top: 300px;
    }
}